h1{
    text-align: center;
}


.hero_a{
    width: 100%;
    display: grid;
    grid-gap: 2rem;
}


.hero_a img{
    border-radius: 5px;
    width: 90%;

}

.project{
    display: block;
}

.project > div {
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 0;
    grid-gap: 0;
    text-align: center;
}

.project div::-webkit-scrollbar {
    display: none;
}

.project h3 {
    margin: 10px 0;
    background: transparent;
}

.project div figure{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-gap: 0;
}

@media screen and (min-width: 750px){
    .hero_a{
        grid-template-columns: 30% 67%;
    }
    .project div{
        grid-auto-columns: 50%;
        grid-gap: 0;
    }
}

@media screen and (min-width: 1200px){
    .project div{
        grid-auto-columns: 33.3%;
    }
}
