main > section{
    display: grid;
    gap: 5rem;
} 

main h1 {
    text-align: center;
    margin-bottom: 3rem;
}

form {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    /* grid-row:  1 / 3; */
}

form > div{
    display: grid;
    margin: .9rem 0;
    /* width: 95%; */
}

form div label {
    font-size: 1.1rem;
    font-weight: 600;
    left: 10px;
    top: 20px;
    z-index: 1000;
}

form div input,  textarea{
    padding: 5px 10px;
    max-width: 100%;
    height: 45px;
    font-size: 1.5em;
}

form div input:focus-within  label{
    /* display: none; */
    top: -5px;
} 

form button{
    width : 60%; 
    padding: 1rem;
    font-weight: 600;
    font-size: 1em;
    border-radius: 7px;
    background-color: var(--red-button);
}

form button:hover{
    background-color: var(--red-button-hover);

}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

section > div{
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}

section > div::-webkit-scrollbar{
    display: none;
}

.project div{
    display: flex;
    margin: 0;
    width: 100%;
}

.project{
    margin: 1.5rem auto;
}

section section ul{
    display: grid;
}

.project ul{
    width: 90%;
    margin: 0px auto 1rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

section section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    list-style-type: none;
    padding: 1rem 10px 10px 0;
}

section a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--bg-light);
    padding: 5px;
    border-radius: 5px;
}

.project img{ 
    width: 40px;
    height: auto;
}


@media screen and (min-width: 750px){
    main > section{
        display: grid;
        grid-template-columns: 48% 48%;
    }
    .project{
        grid-column: 1 / span 2;
    }
    .project ul{
        grid-template-columns: none;
        grid-auto-flow: column;
    }
}

@media screen and (min-width: 1200px){
}