section{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 1rem;
} 

form {
    width: 100%;
}

form div{
    display: grid;
    margin: .9rem 0;
    position: relative;
}

form div label {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 1000;
}

form div input,  textarea{
    padding: 5px 10px;
    width: 100%;
    height: 45px;
    font-size: 1.5em;
}

/* form div input:active  label{
    display: none;
    top: -5px;
} */

form button{
    width : 40%; 
    padding: 1rem;
    font-weight: 600;
    font-size: 1em;
}

