:root {
  --yellow-primary: #867136;
  --yellow-light: #d3cbb1;

  --red-button: #E63946;
  --red-button-hover: #C1272D;

  --bg-light: #F8F8F8;

  --text-dark: #1A1A1A;
  --text-grey: #2c2929d7;
  --text-muted: #6B7280;

  --body-text: 'Inter', san-serif;
  --heading-text:'Poppins' , san-serif;
}

body{
    font-family: var(--body-text);
    background: var(--bg-light);
    padding: 0;
    margin: 0;
    color: var(--text-dark);
    transition: all .4s;
}

h1{
    font-family: var(--heading-text);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    background-color: var(--text-dark);
    color: var(--bg-light);
    /* border-radius: 20px; */
}

#menu {
    color: var(--mist);
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: fill;
}

header nav a{
    flex: 1 1 100%;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    color: var(--bg-light);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
    transition: all .5s;
}

header nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--red-button-hover);
    position: absolute;
    left: 0;
    bottom: 9%;
    border-radius: 5px;
    transition: all .5s;
}

header nav a:hover::after{
    width: 100%;
}

header #menu{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

header #menu:hover{
    cursor: pointer;
}

header #menu::before{
    content: "☰";
}
header #menu.open::before{
    content: "❌";
}

header nav{
    position: absolute;
    z-index: 99;
    background-color: #1e527d;
    display: flex;
    flex-direction: column;
    width: 50%;
    right: 0;
    padding: 0;
    border-radius: 0 0 0 5px;
}

#toggle {
    width: 70px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--yellow-primary);
    position: relative;
    cursor: pointer;
    border: 2px solid var(--yellow-light);
}

#t_btn{
    height: 35px;
    width: 40px;
    background-color: var(--yellow-light);
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 0; */
    top: 0;
    transition: all .4s;
}

#t_btn img {
    width: 60%;
}

/* header nav a:hover {
} */

.open a{
    display: block;
}

main{
    margin: 2rem auto;
    width: 80%;
}

main .hero{
    width: 100%;
    display: grid;
    grid-gap: 2rem;
}

main .hero div{
    margin-right: 40px;
}

.hero strong{
    font-weight: bolder;
    color: var(--text-muted);
    transition: all .2s;
    position: relative;
}

.hero strong::after{
    content: '';
    height: 100%;
    width: 5px;
    position: absolute;
    background-color: var(--red-button-hover);
}

.hero h2 {
    margin: 0;
    padding: 0;
}
.hero p{
    padding-bottom: 1.5rem;
    margin: .3rem 0;
}

.hero a{
    text-decoration: none;
    background-color: var(--red-button);
    padding: 1rem;
    color: var(--yellow-light);
    /* margin: 1rem ; */
    border-radius: 5px;
    transition: all .3s;
}

.hero div a:hover{
    background-color: var(--red-button-hover);
    transform: scaleX(110%);
}

main .hero .img{
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    border: 1.5px solid var(--yellow-light);
    box-shadow: 4px 6px 6px var(--text-grey);
    background-color: var(--red-button);
    width: 100%;
    height: 23rem;
}

main .hero img{
    width: 100%;
    height: 23rem;
}

.project{
    width: 100%;
    display: grid;
    margin: 3rem auto;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid var(--text-dark);
    box-shadow: 4px 6px 6px var(--text-grey);
}

.project h3{
    padding: 10px;
    margin: -25px auto 30px;
    text-align: center;
    background: var(--bg-light);
}

.project div{
    /* grid-template-columns: 32% 32% 32%; */
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-gap: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.project div img{
    object-fit: cover;
    border-radius: 5px;
}

footer{
    background: var(--text-muted);
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    color: var(--bg-light);
    padding: .8rem 0;
}





@media screen and (min-width: 750px) {
    header #menu{
        display: none;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: initial;
        background-color: transparent;
    }
    
    header nav a{
        /* flex: 1 1 100%; */
        /* max-width: 700px; */
        text-decoration: none;
        font-size: 1.2em;
        /* padding: 10px; */
        margin: 7px;
        border-radius: 5px;
        color: var(--white);
        transition: all .5s;
        display: block;
    }

    main .hero{
        grid-template-columns: 60% 35%;
    }
    .hero p{
        padding-bottom: 3rem;
        margin: .3rem 0;
    }


    main .hero .img{
        border-radius: 53% 47% 51% 49% / 32% 34% 66% 68%;
    }
    
    .project div{
        grid-template-columns: 48% 48%;
    }
    
}

@media screen and (min-width: 1200px){
    .project div{
        grid-template-columns: 32% 32% 32%;
    }
}