:root {
    --white : #ffffff;
    --primary-color : #1e527d;
    --secondary : #41676d;
    --grey: #2c2929;
    --mist: #ede7e0;
    --freeze: #35485f;
    --background: #161515dc;
    --shadow: #1d1a1a6b;
    --dblue: #066279;
    --lblue: #6898e0;
    --rubik: 'Rubik', sans-serif;
    --nunito: 'Nunito', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--mist);
}

body{
    font-family: var(--nunito);
    background: linear-gradient(to right,  var(--dblue), var(--lblue));
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    background-color: var(--grey);
    /* border-radius: 20px; */
}

#menu {
    color: var(--mist);
}

header h3{
    color: var(--mist);
    font-size: 1.5rem;
    font-weight: bolder;
}

header nav a{
    flex: 1 1 100%;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    transition: all .5s;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: none;
}

header #menu{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

header #menu:hover{
    cursor: pointer;
}

header #menu::before{
    content: "☰";
}
header #menu.open::before{
    content: "❌";
}

header nav{
    position: absolute;
    z-index: 99;
    background-color: #1e527d;
    display: flex;
    flex-direction: column;
    width: 50%;
    right: 0;
    padding: 0;
    border-radius: 0 0 0 5px;
}

header a:hover{
    background: var(--freeze);
    color: var(--mist);
}

.open a{
    display: block;
}

main{
    width:100%;
    height: auto;
    display: grid;
    position: relative;
}

main #container{
    margin-top: 10px;
    padding: 1rem 2rem;
    display: grid;
    grid-gap: 1rem;
}

main #container div{
    text-align: center;
    padding: 1rem 0;
    background-color: var(--background);
    box-shadow: 4px 6px 4px var(--shadow);
    border: 1.5px solid var(--shadow);
    backdrop-filter: blur(10px);
    border-radius: .5rem;
}

main #container div h2{
    margin-bottom: .6rem;
}

main #container div img{
    width: 90%;
    height: auto;
    border-radius: 2px;
    object-fit: cover;
    margin-top: .5rem;
}

main #container div ul li{
    list-style-type: none;
    font-family: var(--rubik);
}

main #container div ul li strong{
    font-family: var(--nunito);
}

main h1{
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--mist);
    font-family: 'Rubik', sans-serif;
    margin-top: 2rem;
    position: relative;
    /* display: block; */
}



@media screen and (min-width: 640px) {
    header #menu{
        display: none;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: initial;
        background-color: transparent;
    }
    
    header nav a{
        /* flex: 1 1 100%; */
        /* max-width: 700px; */
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px;
        margin: 7px;
        border-radius: 5px;
        color: var(--white);
        transition: all .5s;
        display: block;
    }
    
    header a:hover{
        background: var(--freeze);
        color: var(--mist);
    }
    
    
    main #container{
        /* display: flex;
        flex-wrap: wrap;
        flex-grow: 1 1 1 auto; */
        grid-template-columns: 32% 32% 32%;
        grid-gap: 2%;
        margin: 10px auto 2rem;
        padding: 1rem 8rem;
    }

    .open a{
        display: block;
    }
   
}