:root {
    --white : #ffffff;
    --primary-color : #051e33;
    --secondary : #41676d;
    --grey: #333333;
    --mist: #ede7e0;
    --freeze: #35485f88;
}

*{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    padding: 0;
    background: var(--secondary);
}

h1{
    text-align: center;
}

form{
    width: 85%;
    background: var(--freeze);
    margin: 1rem auto 1rem;
    display: block;
    align-items: baseline;
    justify-content: center;
    padding: 1rem;
}

#p_name, #rating, #date, #features, #review, #name, button{
    width: 95%;
    margin: 0.5rem auto;
}

#p_name {
    display: grid;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
    width: 100%;
}

.stars > label {
	color: var(--primary-color);
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

/* #rating {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-gap: 5px;
}

#rating span{
    grid-column: 1 / span 5;
}

#rating div{
    display: grid;
    align-items: baseline;
    justify-content: baseline;
}


#rating div > label::before{
    content: '\2606';
}

#rating input:checked ~ label::before{
    content: '\2605';
} */

form #features div{
    display: flex;
    align-items: center;
}

input[type='date'], input[type='radio']{
    margin: 0.5rem 0;
    padding: 5px;
    width: 100%;
    height: 3rem ;
    font-size: 1.1rem;
    caret-color: rgba(0, 0, 0, 0);
}

input[type='text'], select{
    font-size: 1.1rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
}

input[type='radio'], input[type='checkbox'] {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

input[type='checkbox']{
    margin: 10px;
    /* padding: 100px; */
}

.chek{
    align-items: center;
}

textarea{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}

button{
    padding: 1rem 0;
    background-color: var(--primary-color);
    width: 30%;
    font-weight: 700;
    font-size: 1em;
    margin: .5rem 0;
    border-radius: 5px;
    color: var(--mist);
}

.btn {
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
}

@media screen and (min-width: 640px){

}