:root {
    --white : #ffffff;
    --primary-color : #1e527d;
    --secondary : #41676d;
    --grey: #333333;
    --mist: #ede7e0;
    --freeze: #35485f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    /* padding: 10px 1rem; */
    /* background: linear-gradient(x, rgb(255, 145, 0), rgb(218, 68, 9)) ; */
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    background-color: var(--grey);
    /* border-radius: 20px; */
}

header a{
    flex: 1 1 100%;
    /* max-width: 700px; */
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    color: var(--white);
    transition: all .5s;
}

 
header nav{
    position: absolute;
    display: none;
    /* color:yellow */
}
header #menu{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
}
header #menu:hover{
    cursor: pointer;

}

header #menu::before{
    content: "☰";
}
header #menu.open::before{
    content: "❌";
}

header nav{
    background-color: #1e527d;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 2.5rem; */
    width: 50%;
    right: 0;
    padding: 0;
    border-radius: 0 0 0 5px;
}
header nav a{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: none;
    /* transition: all .5s; */
}
header a:hover{
    background: var(--freeze);
    color: var(--mist);
}


.open a{
    display: block;
}

main {
    margin-top: 10px;
    padding: 1rem 2rem;
    display: grid;
    gap: 2rem;
}
main figure {
    text-align: center;
}

main figure img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

main h1{
    /* grid-column: 1 / span 3; */
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--mist);
    font-family: 'Rubik', sans-serif;
    display: grid;
}



@media screen and (min-width: 640px) {
 
    
    header #menu{
        display: none;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: initial;
        background-color: transparent;
    }
    
    header h3{
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--mist);
    }
    
    header nav a{
        /* flex: 1 1 100%; */
        /* max-width: 700px; */
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px;
        margin: 7px;
        border-radius: 5px;
        color: var(--white);
        transition: all .5s;
        display: block;
    }
    
    header a:hover{
        background: var(--freeze);
        color: var(--mist);
    }
    
    /* header a:hover a::after{
        content: '';
        position: relative;
        left: 0;
        bottom: 3px;
        width: 60%;
        color: azure;
        background-color: azure;
        z-index: 1000;
    } */
    
    
    main {
        grid-template-columns: 30% 30% 30%;
        margin-top: 10px;
        padding: 1rem 8rem;
    }
    
    main h1{
        grid-column: 1 / span 3;
        text-align: center;
    }

    .open a{
        display: block;
    }

   
}